#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.4
Type=Application
Terminal=false
Categories=Office
Path=/usr/share/OpenTTT/
Icon[de_DE]=OpenTTT
Name[de_DE]=OpenTTT
Exec=openttt %F
Name=OpenTTT
Icon=OpenTTT
